<!DOCTYPE html>
<html lang="en">

<head>
    <title>School Form</title>
</head>

<body>
    <br>
    <br>
    <form>
        <label> Name:</label>
        <input type="text" name="name" size="15" /> <br> <br>
        <label> City:</label>
        <input type="text" name="age" size="5" /> <br> <br>
        <label>State:</label>
        <input type="text" name="state" size="15" /> <br> <br>
        <label>Established_Year:</label>
        <input type="number" name="established_year" size="15" /> <br> <br>
    </form>
</body>

</html>