<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student Form</title>
</head>

<body>
    <br>
    <br>
    <form>
        <label> Name:</label>
        <input type="text" name="name" size="15" /> <br> <br>
        <label> Age:</label>
        <input type="number" name="age" size="5" /> <br> <br>
        <label>Class:</label>
        <input type="number" name="class" size="5" /> <br> <br>
        <label>School:</label>
        <input type="text" name="school" size="15" /> <br> <br>
        <label>Year Joined:</label>
        <input type="number" name="year_joined" size="5" /> <br> <br>
    </form>
</body>

</html>